body{
	 background-color: black;
	 font-family: lane;
}

@font-face {
    font-family: lane;
    src: url(fonts/lanehum.ttf);
}

p {
	font-size: 300%;
	text-align: center;
}

.invisible {
	display: none !important;
}

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
 
}

.close {
	
}

#modal {
    position:absolute;
    width:40%;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
    z-index: 2;
  	top: 0;
  	left: 0;
  	width: 110%;
 	 height: 100%;
  	display: table;
  	background-color: transparent;
  	box-sizing: border-box;
 
}

#content {
    border-radius:8px;
    /*background:#fff;*/
    padding:20px;

	display: table-cell;
	vertical-align: middle;
	height: 50px;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

#content > p {
	background-color: #fff;
  	width: 40%;
  	display: inline-block;
 	border-radius: 8px;
}

h1 {
	color: white;
	font-family: lane;
	font-size: 40px;
  	text-align: center;
  	margin-top: 3%;
  	margin-bottom:3%;
}

.box { 

    color: white;
    box-sizing: border-box;
    width: 31%;
    height: 150px;
    display: inline-block;
    position: relative;
  	vertical-align: bottom;
  	background-color: black;
  	padding-top: 1px;
  	padding-bottom: 3px;
  	



}/* CURRENTLY IN: styles/main.css */

.col {
	border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
}

.side-border {
	border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;

    border-right-style: solid;
    border-right-color: white;
    border-right-width: 1px;
}
.board {
	width: 70%;
	margin-right: 2%;
  	margin-left: 16%;
}

.letters {
	padding-top:20%;
	padding-bottom:20%;
	font-size: 40px;
  	text-align: center;
}

@media (max-width: 715px) {

	.board {
		width: 70%;
		margin-top: 12%;
		margin-right: 2%;
  		margin-left: 16%;
	}

	.box { 
	    color: white;
	    width: 31%;
	    height: 70px;
	    display: inline-block;
	    position: relative;
	  	vertical-align: bottom;
	  	background-color: black;
	  	margin-top: 1px;
	  	margin-bottom: 3px;
	  	box-sizing: border-box;
	}	

	p {
	font-size: 200%;
	text-align: center;
	}
	